<div class="container">
  <h1>Shorten yo Url, Bitch!!</h1>
  
  <% if @url %>

   <p>Your shortened url <a href=" <%=@url.long_name%>"><%= @url.short_name %></a></p>
  <% end %>

  <form action="/urls" method="post">
    <input type="text" name="user_input" value="http://">
    <input type="submit" value="CLICK ME, SUCKA!"> 
  </form>
  <br>
  <br>
  <ul>
<% if @urls %>
  <% @urls.each do |url| %>
    <li>
      <h4><a href="/<%= url.short_name %>"><%=url.short_name %></a></h4>
    </li>
  <% end %>
<% end %>
</ul>
</div>
